<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather App</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&family=Syncopate:wght@400;700&display=swap" rel = "stylesheet">
    </head>

    <body class="<%= isDay ? 'day-theme' : '' %>">
       
        <form id="location-form" action="/current-location" method="POST">
            <input type="hidden" name="lat" id="lat">
            <input type="hidden" name="lon" id="lon">
        </form>

        <div class="day-night-indicator">
            <span class="icon"><%= isDay ? '☀️' : '🌙' %></span>
            <span><%= isDay ? 'Day Mode' : 'Night Mode' %></span>
        </div>

        <div class="weather">
            <div>
                <h1>Today's Weather <%= loc %></h1>
            </div>

            <div class="search">
                <form action="/search" id="the_form" method="post">
                    <input type="text" id="location_input" name="location" placeholder="Enter a city...">
                    <button type="submit">Search</button>
                </form>
                <button type="button" id="current-location">
                    📍 Use Current Location
                </button>
            </div>

            <div class="weather-container">
                <div class="weather-image">
                    <img src="<%= weatherImage %>" alt="<%= description %>">
                    <p><%= temp %>°C</p>
                </div>
                
                <div class="weather-details">
                    <p>Condition</p>
                    <p><%= description %></p>
                </div>

                <div class="weather-details">
                    <p>Humidity</p>
                    <p><%= humidity %>%</p>
                </div>

                <div class="weather-details">
                    <p>Wind Speed</p>
                    <p><%= windSpeed %> km/h</p>
                </div>

                <div class="weather-details">
                    <p>Chance of Rain</p>
                    <p><%= rainChance %>%</p>
                </div>

                <div class="weather-details">
                    <p>Local Time</p>
                    <p><%= dayNight %></p>
                </div>
            </div>
        </div>

        <div class = "hourly-forcast">
            <% for( let index = currentHour; index < currentHour + 24; index++ ) { %>
                <div class = "hourly-forcast-card">
                    <div class = "hourly-time">
                        <p><%= hourly_time[index] ? hourly_time[index].slice(11) : "--:--" %></p>
                    </div>

                    <div class = "hourly-temp">
                        <p><%= hourly_temp[index] ?  hourly_temp[index] : "--"  %></p>
                    </div>

                    <div class = "hourly-image">
                        <img src = "<%= hourly_images[index] ? hourly_images[index] : "/images/weather/default.svg" %>" alt="-">
                    </div>

                    <div class = "hourly_precipitation">
                        <p>Rain: <%= hourly_precipitation[index] ? hourly_precipitation[index] : "--"  %>%</p>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="five-days-forcast">
            
            <% for( let index = 1; index < day.length; index++ ) { %>

                <div class="five-days-forcast-card">
                    <div class="days">
                        <p><%= new Date(day[index]).toLocaleDateString("en-US", {weekday: "long"}) %></p>
                    </div>

                    <div class="temperature">
                        <p><%= max_temp[index] %>°C / <%= min_temp[index] %>°C</p>
                        <img src="<%= images[index] ? images[index] : "/images/weather/default.svg"%>" alt="<%= code_description[index] %>">
                    </div>

                    <p id="condition"><%= code_description[index] %></p>

                    <div class="line"></div>

                    <div class="conditions">
                        <p>Wind: <%= wind[index] %> km/h</p>
                        <p>Rain: <%= precipitation[index] %>%</p>
                    </div>
                </div>
            <% } %>
        </div>

        <script>
            const button = document.getElementById("current-location");

            button.addEventListener("click", () => {
                if(!navigator.geolocation) {
                    alert("Geolocation is not supported.")
                    return;
                }

                navigator.geolocation.getCurrentPosition(
                    (position) => {

                        document.getElementById("lat").value = position.coords.latitude;
                        document.getElementById("lon").value = position.coords.longitude;

                        document.getElementById("location-form").submit();
                    }, 

                    (error) => {
                        alert("Unable to get your location.")
                    }
                );
            });
        </script>
    </body>
</html>